[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
sqlalchemy = "*"
graphene-sqlalchemy = "*"
flask = "*"
flask-graphql = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
behave = "*"
pytest-bdd = "*"
pytest-flask = "*"

[requires]
python_version = "3.6"
